gradio
mdtex2html
pypinyin
tiktoken
socksio
tqdm
colorama
duckduckgo_search
Pygments
llama_index==0.5.5
langchain
markdown
PyPDF2
pdfplumber
pandas
transformers
torch
mpi4py
icetk
git+https://github.com/OptimalScale/LMFlow.git
cpm-kernels
sentence_transformers
