gradio==3.30.0
gradio_client==0.2.4
mdtex2html
pypinyin
tiktoken
socksio
tqdm
colorama
googlesearch-python
Pygments
langchain==0.0.173
markdown
PyPDF2
pdfplumber
pandas
commentjson
openpyxl
pandoc
wolframalpha
faiss-cpu
google-search-results
arxiv
wikipedia
google.generativeai
openai
unstructured
