:root {
    --chatbot-color-light: #F3F3F3;
    --chatbot-color-dark: #121111;
}

/* 覆盖gradio的页脚信息QAQ */
footer {
    display: none !important;
}
#footer{
    text-align: center;
}
#footer div{
    display: inline-block;
}
#footer .versions{
    font-size: 85%;
    opacity: 0.85;
}

/* user_info */
#user_info {
    white-space: nowrap;
    margin-top: -1.3em !important;
    padding-left: 112px !important;
}
#user_info p {
    font-size: .85em;
    font-family: monospace;
    color: var(--body-text-color-subdued);
}

/* status_display */
#status_display {
    display: flex;
    min-height: 2em;
    align-items: flex-end;
    justify-content: flex-end;
}
#status_display p {
    font-size: .85em;
    font-family: monospace;
    color: var(--body-text-color-subdued);
}

#chuanhu_chatbot, #status_display {
    transition: all 0.6s;
}

/* usage_display */
#usage_display {
    position: relative;
    margin: 0;
    box-shadow: var(--block-shadow);
    border-width: var(--block-border-width);
    border-color: var(--block-border-color);
    border-radius: var(--block-radius);
    background: var(--block-background-fill);
    width: 100%;
    line-height: var(--line-sm);
    min-height: 2em;
}
#usage_display p, #usage_display span {
    margin: 0;
    padding: .5em 1em;
    font-size: .85em;
    color: var(--body-text-color-subdued);
}
.progress-bar {
    background-color: var(--input-background-fill);;
    margin: 0 1em;
    height: 20px;
    border-radius: 10px;
    overflow: hidden;
}
.progress {
    background-color: var(--block-title-background-fill);;
    height: 100%;
    border-radius: 10px;
    text-align: right;
    transition: width 0.5s ease-in-out;
}
.progress-text {
    /* color: white; */
    color: var(--color-accent) !important;
    font-size: 1em !important;
    font-weight: bold;
    padding-right: 10px;
    line-height: 20px;
}
/* list */
ol:not(.options), ul:not(.options) {
    padding-inline-start: 2em !important;
}

/* 亮色 */
@media (prefers-color-scheme: light) {
    #chuanhu_chatbot {
        background-color: var(--chatbot-color-light) !important;
        color: #000000 !important;
    }
    [data-testid = "bot"] {
        background-color: #FFFFFF !important;
    }
    [data-testid = "user"] {
        background-color: #95EC69 !important;
    }
}
/* 暗色 */
@media (prefers-color-scheme: dark) {
    #chuanhu_chatbot {
        background-color: var(--chatbot-color-dark) !important;
        color: #FFFFFF !important;
    }
    [data-testid = "bot"] {
        background-color: #2C2C2C !important;
    }
    [data-testid = "user"] {
        background-color: #26B561 !important;
    }
    body {
        background-color: var(--neutral-950) !important;
    }
}
/* 屏幕宽度大于等于500px的设备 */
@media screen and (min-width: 500px) {
    #chuanhu_chatbot {
        height: calc(100vh - 200px);
    }
    #chuanhu_chatbot .wrap {
        max-height: calc(100vh - 200px - var(--line-sm)*1rem - 2*var(--block-label-margin) );
    }
}
/* 屏幕宽度小于500px的设备 */
@media screen and (max-width: 499px) {
    #chuanhu_chatbot {
        height: calc(100vh - 140px);
    }
    #chuanhu_chatbot .wrap {
        max-height: calc(100vh - 140px - var(--line-sm)*1rem - 2*var(--block-label-margin) );
    }
}
/* 对话气泡 */
[class *= "message"] {
    border-radius: var(--radius-xl) !important;
    border: none;
    padding: var(--spacing-xl) !important;
    font-size: var(--text-md) !important;
    line-height: var(--line-md) !important;
    min-height: calc(var(--text-md)*var(--line-md) + 2*var(--spacing-xl));
    min-width: calc(var(--text-md)*var(--line-md) + 2*var(--spacing-xl));
}
[data-testid = "bot"] {
    max-width: 85%;
    border-bottom-left-radius: 0 !important;
}
[data-testid = "user"] {
    max-width: 85%;
    width: auto !important;
    border-bottom-right-radius: 0 !important;
}
/* 表格 */
table {
    margin: 1em 0;
    border-collapse: collapse;
    empty-cells: show;
}
td,th {
    border: 1.2px solid var(--border-color-primary) !important;
    padding: 0.2em;
}
thead {
    background-color: rgba(175,184,193,0.2);
}
thead th {
    padding: .5em .2em;
}
/* 行内代码 */
code {
    display: inline;
    white-space: break-spaces;
    border-radius: 6px;
    margin: 0 2px 0 2px;
    padding: .2em .4em .1em .4em;
    background-color: rgba(175,184,193,0.2);
}
/* 代码块 */
pre code {
    display: block;
    overflow: auto;
    white-space: pre;
    background-color: hsla(0, 0%, 0%, 80%)!important;
    border-radius: 10px;
    padding: 1.4em 1.2em 0em 1.4em;
    margin: 1.2em 2em 1.2em 0.5em;
    color: #FFF;
    box-shadow: 6px 6px 16px hsla(0, 0%, 0%, 0.2);
}
/* 代码高亮样式 */
.highlight .hll { background-color: #49483e }
.highlight .c { color: #75715e } /* Comment */
.highlight .err { color: #960050; background-color: #1e0010 } /* Error */
.highlight .k { color: #66d9ef } /* Keyword */
.highlight .l { color: #ae81ff } /* Literal */
.highlight .n { color: #f8f8f2 } /* Name */
.highlight .o { color: #f92672 } /* Operator */
.highlight .p { color: #f8f8f2 } /* Punctuation */
.highlight .ch { color: #75715e } /* Comment.Hashbang */
.highlight .cm { color: #75715e } /* Comment.Multiline */
.highlight .cp { color: #75715e } /* Comment.Preproc */
.highlight .cpf { color: #75715e } /* Comment.PreprocFile */
.highlight .c1 { color: #75715e } /* Comment.Single */
.highlight .cs { color: #75715e } /* Comment.Special */
.highlight .gd { color: #f92672 } /* Generic.Deleted */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gi { color: #a6e22e } /* Generic.Inserted */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #75715e } /* Generic.Subheading */
.highlight .kc { color: #66d9ef } /* Keyword.Constant */
.highlight .kd { color: #66d9ef } /* Keyword.Declaration */
.highlight .kn { color: #f92672 } /* Keyword.Namespace */
.highlight .kp { color: #66d9ef } /* Keyword.Pseudo */
.highlight .kr { color: #66d9ef } /* Keyword.Reserved */
.highlight .kt { color: #66d9ef } /* Keyword.Type */
.highlight .ld { color: #e6db74 } /* Literal.Date */
.highlight .m { color: #ae81ff } /* Literal.Number */
.highlight .s { color: #e6db74 } /* Literal.String */
.highlight .na { color: #a6e22e } /* Name.Attribute */
.highlight .nb { color: #f8f8f2 } /* Name.Builtin */
.highlight .nc { color: #a6e22e } /* Name.Class */
.highlight .no { color: #66d9ef } /* Name.Constant */
.highlight .nd { color: #a6e22e } /* Name.Decorator */
.highlight .ni { color: #f8f8f2 } /* Name.Entity */
.highlight .ne { color: #a6e22e } /* Name.Exception */
.highlight .nf { color: #a6e22e } /* Name.Function */
.highlight .nl { color: #f8f8f2 } /* Name.Label */
.highlight .nn { color: #f8f8f2 } /* Name.Namespace */
.highlight .nx { color: #a6e22e } /* Name.Other */
.highlight .py { color: #f8f8f2 } /* Name.Property */
.highlight .nt { color: #f92672 } /* Name.Tag */
.highlight .nv { color: #f8f8f2 } /* Name.Variable */
.highlight .ow { color: #f92672 } /* Operator.Word */
.highlight .w { color: #f8f8f2 } /* Text.Whitespace */
.highlight .mb { color: #ae81ff } /* Literal.Number.Bin */
.highlight .mf { color: #ae81ff } /* Literal.Number.Float */
.highlight .mh { color: #ae81ff } /* Literal.Number.Hex */
.highlight .mi { color: #ae81ff } /* Literal.Number.Integer */
.highlight .mo { color: #ae81ff } /* Literal.Number.Oct */
.highlight .sa { color: #e6db74 } /* Literal.String.Affix */
.highlight .sb { color: #e6db74 } /* Literal.String.Backtick */
.highlight .sc { color: #e6db74 } /* Literal.String.Char */
.highlight .dl { color: #e6db74 } /* Literal.String.Delimiter */
.highlight .sd { color: #e6db74 } /* Literal.String.Doc */
.highlight .s2 { color: #e6db74 } /* Literal.String.Double */
.highlight .se { color: #ae81ff } /* Literal.String.Escape */
.highlight .sh { color: #e6db74 } /* Literal.String.Heredoc */
.highlight .si { color: #e6db74 } /* Literal.String.Interpol */
.highlight .sx { color: #e6db74 } /* Literal.String.Other */
.highlight .sr { color: #e6db74 } /* Literal.String.Regex */
.highlight .s1 { color: #e6db74 } /* Literal.String.Single */
.highlight .ss { color: #e6db74 } /* Literal.String.Symbol */
.highlight .bp { color: #f8f8f2 } /* Name.Builtin.Pseudo */
.highlight .fm { color: #a6e22e } /* Name.Function.Magic */
.highlight .vc { color: #f8f8f2 } /* Name.Variable.Class */
.highlight .vg { color: #f8f8f2 } /* Name.Variable.Global */
.highlight .vi { color: #f8f8f2 } /* Name.Variable.Instance */
.highlight .vm { color: #f8f8f2 } /* Name.Variable.Magic */
.highlight .il { color: #ae81ff } /* Literal.Number.Integer.Long */
