:root {
    --vh: 1vh;

    --chatbot-color-light: #000000;
    --chatbot-color-dark: #FFFFFF;
    --chatbot-background-color-light: #F3F3F3;
    --chatbot-background-color-dark: #121111;
    --message-user-background-color-light: #95EC69;
    --message-user-background-color-dark: #26B561;
    --message-bot-background-color-light: #FFFFFF;
    --message-bot-background-color-dark: #2C2C2C;
    --switch-checkbox-color-light: #e5e7eb;
    --switch-checkbox-color-dark: #515151;

    --chatbot-blur-background-color: #F3F3F366;
    --chatbot-input-background-color: rgba(255, 255, 255, 0.32);
    --chatbot-input-more-background-color: #FFFFFF;

    --menu-width: 320px;
    --menu-background-fill: var(--background-fill-primary);

    --toolbox-width: 280px;
    --toolbox-background-fill: var(--background-fill-secondary);
    
    .dark {
        --chatbot-blur-background-color: #12111166;
        --chatbot-input-background-color: rgba(144, 144, 144, 0.32);
        --chatbot-input-more-background-color: #3C3C3C;
    }
}


body.popup-open {
    overflow: hidden;
}

.hideK {
    display: none;
}

#app-title {
    font-weight: var(--prose-header-text-weight);
    font-size: var(--text-xxl);
    line-height: 1.3;
    text-align: left;
    margin-top: 4px;
    white-space: nowrap;
    flex-direction: row;
    display: inline-flex;
    align-items: center;
}
#description {
    text-align: center;
    /* margin: 32px 0 4px 0; */
}
#about-tab {
    text-align: center;
}
#about-tab img {
    margin: 0 auto;
}

/* 高级页面 */
#advanced-warning {
    margin-top: 0.5rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
}

#netsetting-warning hr {
    margin-top: 0.5em;
    margin-bottom: 1em;
}

.view-only-textbox textarea {
    -webkit-text-fill-color: darkgray !important;
    cursor: not-allowed !important;
}

#footer {
    text-align: center;
}
#footer div {
    display: inline-block;
}
#footer .versions{
    font-size: 85%;
    opacity: 0.60;
}


#float-display {
    position: absolute;
    max-height: 30px;
}

.insert-block {
    position: relative;
    margin: 0;
    padding: 8px 12px;
    box-shadow: var(--block-shadow);
    border-width: var(--block-border-width);
    border-color: var(--block-border-color);
    border-radius: var(--block-radius);
    background: var(--block-background-fill);
    width: 100%;
    line-height: var(--line-sm);
    min-height: 2em;
}

/* status-display */
#status-display {
    display: flex;
    min-height: 2em;
    align-items: flex-end;
    justify-content: flex-end;
    transition: all 0.6s;
}
#status-display p {
    font-size: .85em;
    font-family: ui-monospace, "SF Mono", "SFMono-Regular", "Menlo", "Consolas", "Liberation Mono", "Microsoft Yahei UI", "Microsoft Yahei", monospace;
    /* Windows下中文的monospace会fallback为新宋体，实在太丑，这里折中使用微软雅黑 */
    color: var(--body-text-color-subdued);
}

#chatbot-ctrl-btns {
    align-self: end;
    max-width: 42px;
}
#submit-btn, #cancel-btn {
    height: 42px !important;
    width: 42px !important;
    border-radius: 50%;
    transform: scale(0.8);
}
#submit-btn::before {
    content: url("data:image/svg+xml, %3Csvg width='21px' height='21px' viewBox='0 0 21 20' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E %3Cg id='page' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E %3Cg id='send' transform='translate(0.435849, 0.088463)' fill='%23FFFFFF' fill-rule='nonzero'%3E %3Cpath d='M0.579148261,0.0428666046 C0.301105539,-0.0961547561 -0.036517765,0.122307382 0.0032026237,0.420210298 L1.4927172,18.1553639 C1.5125774,18.4334066 1.79062012,18.5922882 2.04880264,18.4929872 L8.24518329,15.8913017 L11.6412765,19.7441794 C11.8597387,19.9825018 12.2370824,19.8832008 12.3165231,19.5852979 L13.9450591,13.4882182 L19.7839562,11.0255541 C20.0619989,10.8865327 20.0818591,10.4694687 19.7839562,10.3105871 L0.579148261,0.0428666046 Z M11.6138902,17.0883151 L9.85385903,14.7195502 L0.718169621,0.618812241 L12.69945,12.9346347 L11.6138902,17.0883151 Z' id='shape'%3E%3C/path%3E %3C/g%3E %3C/g%3E %3C/svg%3E");
    height: 21px;
    width: 21px;
}
#cancel-btn::before {
    content: url("data:image/svg+xml,%3Csvg width='21px' height='21px' viewBox='0 0 21 21' version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink'%3E %3Cg id='pg' stroke='none' stroke-width='1' fill='none' fill-rule='evenodd'%3E %3Cpath d='M10.2072007,20.088463 C11.5727865,20.088463 12.8594566,19.8259823 14.067211,19.3010209 C15.2749653,18.7760595 16.3386126,18.0538087 17.2581528,17.1342685 C18.177693,16.2147282 18.8982283,15.1527965 19.4197586,13.9484733 C19.9412889,12.7441501 20.202054,11.4557644 20.202054,10.0833163 C20.202054,8.71773046 19.9395733,7.43106036 19.4146119,6.22330603 C18.8896505,5.01555169 18.1673997,3.95018885 17.2478595,3.0272175 C16.3283192,2.10424615 15.2646719,1.3837109 14.0569176,0.865611739 C12.8491633,0.34751258 11.5624932,0.088463 10.1969073,0.088463 C8.83132146,0.088463 7.54636692,0.34751258 6.34204371,0.865611739 C5.1377205,1.3837109 4.07407321,2.10424615 3.15110186,3.0272175 C2.22813051,3.95018885 1.5058797,5.01555169 0.984349419,6.22330603 C0.46281914,7.43106036 0.202054,8.71773046 0.202054,10.0833163 C0.202054,11.4557644 0.4645347,12.7441501 0.9894961,13.9484733 C1.5144575,15.1527965 2.23670831,16.2147282 3.15624854,17.1342685 C4.07578877,18.0538087 5.1377205,18.7760595 6.34204371,19.3010209 C7.54636692,19.8259823 8.83475258,20.088463 10.2072007,20.088463 Z M10.2072007,18.2562448 C9.07493099,18.2562448 8.01471483,18.0452309 7.0265522,17.6232031 C6.03838956,17.2011753 5.17031614,16.6161693 4.42233192,15.8681851 C3.6743477,15.1202009 3.09105726,14.2521274 2.67246059,13.2639648 C2.25386392,12.2758022 2.04456558,11.215586 2.04456558,10.0833163 C2.04456558,8.95104663 2.25386392,7.89083047 2.67246059,6.90266784 C3.09105726,5.9145052 3.6743477,5.04643178 4.42233192,4.29844756 C5.17031614,3.55046334 6.036674,2.9671729 7.02140552,2.54857623 C8.00613703,2.12997956 9.06463763,1.92068122 10.1969073,1.92068122 C11.329177,1.92068122 12.3911087,2.12997956 13.3827025,2.54857623 C14.3742962,2.9671729 15.2440852,3.55046334 15.9920694,4.29844756 C16.7400537,5.04643178 17.3233441,5.9145052 17.7419408,6.90266784 C18.1605374,7.89083047 18.3698358,8.95104663 18.3698358,10.0833163 C18.3698358,11.215586 18.1605374,12.2758022 17.7419408,13.2639648 C17.3233441,14.2521274 16.7400537,15.1202009 15.9920694,15.8681851 C15.2440852,16.6161693 14.3760118,17.2011753 13.3878492,17.6232031 C12.3996865,18.0452309 11.3394704,18.2562448 10.2072007,18.2562448 Z M7.65444721,13.6242324 L12.7496608,13.6242324 C13.0584616,13.6242324 13.3003556,13.5384544 13.4753427,13.3668984 C13.6503299,13.1953424 13.7378234,12.9585951 13.7378234,12.6566565 L13.7378234,7.49968276 C13.7378234,7.19774418 13.6503299,6.96099688 13.4753427,6.78944087 C13.3003556,6.61788486 13.0584616,6.53210685 12.7496608,6.53210685 L7.65444721,6.53210685 C7.33878414,6.53210685 7.09345904,6.61788486 6.91847191,6.78944087 C6.74348478,6.96099688 6.65599121,7.19774418 6.65599121,7.49968276 L6.65599121,12.6566565 C6.65599121,12.9585951 6.74348478,13.1953424 6.91847191,13.3668984 C7.09345904,13.5384544 7.33878414,13.6242324 7.65444721,13.6242324 Z' id='shape' fill='%23FF3B30' fill-rule='nonzero'%3E%3C/path%3E %3C/g%3E %3C/svg%3E");
    height: 21px;
    width: 21px;
}

#chatbot-buttons button {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* masks */
.chuanhu-mask, .chuanhu-side-mask {
    /* background-color: gray; */
    background-color: rgba(0, 0, 0, 0.5);
    transition: background-color 0.3s ease;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    /* background-color: transparent; */
}
.chuanhu-mask {
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
}
.mask-blur {
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
}

.chuanhu-side-mask {
    background-color: rgba(0, 0, 0, 0);
}
.chuanhu-top-mask {
    /* background-color: rgba(0, 0, 0, 0.0); */
    z-index: 10001;
}


#popup-wrapper {
    display: none;
    position: fixed;
    overflow: auto;
    top: 0;
    left: 0;
    z-index: 99999;
}
#popup-wrapper.showBox {
    display: grid;
    place-items: center;
}

#chuanhu-popup {
    display: none;
    z-index: 99999;
    width: 680px;
    height: 400px;
    padding: 0;
}
#chuanhu-popup.showBox {
    display: block;
    box-shadow: 0 2px 64px 4px rgba(0, 0, 0, 0.2);
}

#chuanhu-popup > .gradio-box {
    padding: 0;
}
.hideBox {
    display: none;
}


#chuanhu-header {
    position: fixed;
    top: 0;
    z-index: 1000;
    left: 0;
    right: 0;
    /* padding: 6px 64px; */
    height: 65px;
    background: var(--background-fill-primary);
    border-bottom: 1px solid var(--border-color-primary);

    @media screen and (max-width: 639px) {
        padding: 6px 16px;
    }
    @media screen and (min-width: 640px) {
        padding: 6px 24px;
    }
    /* @media screen and (min-width: 1024px) {
        padding: 6px 96px;
    } */
}
#chuanhu-header.under-box {
    z-index: 995 !important;
}

#chuanhu-body {
    flex-wrap: nowrap;
    gap: 0;
    overflow: hidden;
    display: inline-flex;
    justify-content: space-between;
    /* margin-top: 54px; */
    /* height: calc(100*var(--vh) - 72px); */
    position: absolute;
    top: 65px;
    height: calc(100*var(--vh) - 65px);
}

#chuanhu-area {
    flex: unset;
    width: 100%;
    flex-wrap: nowrap;
    justify-content: center;
    overflow: hidden;
    flex-direction: row;
    /* padding-inline: 24px; */
    /* margin: 16px; */
    /* border-radius: 24px; */
    background: var(--chatbot-background-color-light);
}
.dark #chuanhu-area {
    background: var(--chatbot-background-color-dark);
}
/* #chatbot-area {
    justify-content: center;
    display: flex;
} */
#chatbot-header {
    justify-content: space-between;
    border-bottom: 0.5px solid var(--border-color-primary);
    height: 60px;
    padding-inline: 20px;
    gap: 0;
    position: absolute;
    top: 0;
    right: 4px;
    width: calc(100% - 4px);
    z-index: 50;
    background: var(--chatbot-blur-background-color);
    backdrop-filter: blur(24px);
    -webkit-backdrop-filter: blur(24px);
}

#chatbot-header .gradio-dropdown {
    max-width: 14em;
    background: none;
    height: 60px;
}
#chatbot-header .gradio-dropdown > label {
    display: flex;
}
#chatbot-header .gradio-dropdown > label > span[data-testid="block-info"] {
    height: unset;
    overflow: visible;
    top: 0;
    align-self: center;
    background: none;
    margin: 0;
    padding: 0;
    position: relative;
    width: auto;
}
#chatbot-header .gradio-dropdown > label > .wrap {
    background: none;
    padding-left: 8px;
}
#model-select-dropdown > label > span[data-testid="block-info"]  {
    display: none;
}
#chatbot-header .gradio-dropdown > label > .wrap input {
    font-weight: bold;
}
#chatbot-header .gradio-dropdown > label::before {
    content: "";
    background: var(--primary-600);
    height: 12px;
    width: 12px;
    border-radius: 50%;
    position: absolute;
    /* left: 2px; */
    top: calc(50% - 6px);
}

#chatbot-header-btn-bar {
    justify-content: space-between;
    align-items: center;
    display: flex;
    height: 60px;
}
#chatbot-header-btn-bar > * {
    width: 100%;
}
#header-btn-groups {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
/* #header-btn-group {
    justify-content: space-between;
    display: flex;
    height: 36px;
    align-items: center;
} */
.show-on-gpt {
    /* visibility: hidden; */
    display: none;
}
.is-gpt .show-on-gpt {
    /* visibility: visible; */
    display: block;
}

#chatbot-footer {
    position: absolute;
    bottom: 0;
    right: 4px;
    width: calc(100% - 4px);
    display: flex;
    justify-content: center;
    /* padding: 24px; */
    /* padding: 8px 6px; */
    min-height: 82px;
    max-height: 166px;
    background: var(--chatbot-blur-background-color);
    -webkit-backdrop-filter: blur(24px);
    backdrop-filter: blur(24px);
}

#chatbot-input-box {
    max-width: 800px;
    /* margin: 0 auto; */
    gap: 20px;
    padding: 16px 24px 24px;
    display: flex;
    background: none;
    align-self: end;
}

#chatbot-input-btn-bar {
    height: 27px;
    overflow-y: auto;
    flex-wrap: nowrap;
}

button.chatbot-input-more-btn {
    margin: 5px;
    height: 32px;
    width: 32px;
    border-radius: 50%;
}
button.chatbot-input-more-btn:hover .sm-round-bg {
    fill-opacity: 0.2125;
}
button.chatbot-input-more-btn:active .sm-round-bg {
    fill-opacity: 0.25;
}

#chatbot-input-more-area {
    position: absolute;
    display: flex;
    flex-direction: column;
    bottom: 60px;
    min-width: 120px;
    z-index: 50;
    border-radius: 6px;
    box-shadow: var(--shadow-sm);
    background: var(--chatbot-input-more-background-color);

}
#chatbot-input-more-area > div {
    min-width: 120px;
    padding: 2px;
    align-content: center;
    /* display: flex; */
    border-bottom: 0.5px solid var(--border-color-primary);
}
#chatbot-input-more-area > div:last-child {
    border-bottom: none;
}
#chatbot-input-more-area > div > label {
    padding: 6px 8px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
}
#chatbot-input-more-area > div:hover > label {
    background: var(--input-background-fill-hover);
}
#chatbot-input-more-area > div > label button {
    margin: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.chatbot-input-more-icon {
    margin-right: 12px;
}
.chatbot-input-more-span {
    white-space: nowrap;
}

/* default invisible */
#menu-area, #toolbox-area {
    width: 0;
    transition: width 0.3s ease;
    visibility: hidden;
    flex: unset;
    min-width: unset !important;
    display: flex;
    flex-shrink: 0;
    overflow: hidden;
    flex-wrap: nowrap;
}
#menu-area {
    border-radius: 0;
    background: var(--background-fill-primary);
}
#toolbox-area {
    background: var(--background-fill-secondary);
}
#menu-area > div {
    width: var(--menu-width);
}
#menu-area.showSide {
    width: var(--menu-width);
    max-width: var(--menu-width);
    height: calc(100*var(--vh) - 65px);
    visibility: visible;
    /* margin-right: 16px; */
    border-right: 0.5px solid var(--border-color-primary);
    box-shadow: -1px 0 4px 0 rgba(0, 0, 0, 0.1) inset;
}

#toolbox-area > div {
    width: var(--toolbox-width);
}
#toolbox-area.showSide {
    width: var(--toolbox-width);
    height: calc(100*var(--vh) - 65px);
    visibility: visible;
    /* margin-left: 16px; */
}

/* When screen width <= 768 */
@media screen and (max-width: 767px) {
    #menu-area {
        position: fixed;
        transition: left 0.3s ease, visibility 0.1s ease;
        left: calc(0px - var(--menu-width));
        z-index: 9999;
        overflow: unset;
    }
    #menu-area.showSide {
        left: 0;
    }

    #toolbox-area {
        position: fixed;
        width: 100vw;
        transition: top 0.3s ease, visibility 0.1s ease;
        /* right: calc(0px - var(--toolbox-width)); */
        z-index: 10008;
        overflow: unset;
        top: calc(100*var(--vh));
        margin: 0;
    }
    #toolbox-area > div {
        width: 100vw;
        height: calc( 90*var(--vh) - 48px );
    }
    #toolbox-area.showSide {
        width: 100vw;
        right: 0;
        top: calc( 10*var(--vh) + 48px );
        margin: 0;
        border-radius: 6px;
        box-shadow: 0 2px 64px 4px rgba(0, 0, 0, 0.2);
    }
    /* #menu-area.showSide, #toolbox-area.showSide {
        z-index: 9999;
    } */
}

/* .chuanhu-history-panel ul.options {
    position: relative;
    box-shadow: unset;
    overflow: hidden;
} */
.chuanhu-history-panel {
    height: 500px;
    overflow: auto;
    box-shadow: var(--shadow-drop-lg);
}

#chuanhu-popup > .gradio-box {
    height: 100%;
}
#chuanhu-popup > .gradio-box > .gradio-row:first-of-type {
    padding: 24px !important;
    border-bottom: 1.8px solid var(--border-color-primary);
}
#toolbox-area > .gradio-box > .gradio-row:first-of-type * ,
#chuanhu-popup > .gradio-box > .gradio-row:first-of-type * {
    margin: 0;
}

#toolbox-area > .gradio-box > .gradio-row > .close-btn,
#chuanhu-popup > .gradio-box > .gradio-row > .close-btn {
    max-width: 28px;
    display: flex;
    justify-content: flex-end;
}


#chuanhu-popup > .gradio-box > .gradio-tabs {
    display: block;
    height: 322px;
    /* margin: 16px 24px; */
}

#chuanhu-popup > .gradio-box > .gradio-tabs > div.tabitem {
    border: none;
    border-radius: 0;
    overflow: auto;
    height: 100%;
    padding: 16px 24px;
}
#chuanhu-popup > .gradio-box > .gradio-tabs > div.tab-nav {
    float: left;
    display: block;
    border: none;
    padding: 16px;
    width: 180px;
    height: 100%;
    overflow: auto;
    background: var(--background-fill-secondary);
    border-bottom-left-radius: var(--block-radius);
    border-right: 1px solid var(--border-color-primary);
}
#chuanhu-popup > .gradio-box > .gradio-tabs > div.tab-nav > button {
    display: block;
    border: none;
    border-radius: 6px;
    text-align: left;
    white-space: initial;
    width: 100%;
    /* height: 32px; */
    padding: 7px 12px;
}
#chuanhu-popup > .gradio-box > .gradio-tabs > div.tab-nav > button.selected {
    background-color: var(--button-primary-background-fill);
    /* font-weight: bold; */
    color: var(--button-primary-text-color);
}

/* 小屏幕的tab样式 */
@media screen and (max-width: 767px) {
    #popup-wrapper.showBox {
        place-items: end;
    }
    #chuanhu-popup {
        width: 100vw;
        height: calc( 90*var(--vh) - 48px );
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
    #toolbox-area > .gradio-box > .gradio-row:first-of-type,
    #chuanhu-popup > .gradio-box > .gradio-row:first-of-type {
        padding: 18px 24px 0 !important;
        border-bottom: 0;
    }
    #toolbox-area > .gradio-box > .gradio-tabs,
    #chuanhu-popup > .gradio-box > .gradio-tabs {
        height: auto;
        width: 100vw;
        overflow: hidden;
    }
    #toolbox-area > .gradio-box > .gradio-tabs > div.tabitem,
    #chuanhu-popup > .gradio-box > .gradio-tabs > div.tabitem {
        height: calc( 90*var(--vh) - 48px - 46px - 45px );
        overflow-x: auto;
        border: none;
    }
    /* 下面是弃用方案：横条按钮tab */
    /* 
    #chuanhu-popup > .gradio-box > .gradio-tabs > div.tab-nav {
        display: flex;
        margin: 0;
        padding: 12px 16px 8px;
        overflow-x: auto;
        overflow-y: hidden;
        flex-direction: row;
        flex-wrap: nowrap;
        border-radius: 8px;
        gap: 12px;
        width: 100%;
        height: auto;
        background: none;
    }
    #chuanhu-popup > .gradio-box > .gradio-tabs > div.tab-nav > button {
        display: inline-block;
        border-style: none;
        border-radius: 6px;
        white-space: nowrap;
        width: auto;
        padding: 7px 32px;
        text-align: center;
        background: var(--background-fill-secondary);
    }
    */
    #toolbox-area > .gradio-box > .gradio-tabs > div.tab-nav,
    #chuanhu-popup > .gradio-box > .gradio-tabs > div.tab-nav {
        display: flex;
        margin: 0;
        padding: 6px 16px 0;
        overflow-x: auto;
        overflow-y: hidden;
        flex-direction: row;
        flex-wrap: nowrap;
        border-radius: 0;
        gap: 12px;
        width: 100%;
        height: auto;
        background: none;
        border-bottom: 1px solid var(--border-color-primary);
        align-items: baseline;
    }
    #toolbox-area > .gradio-box > .gradio-tabs > div.tab-nav > button,
    #chuanhu-popup > .gradio-box > .gradio-tabs > div.tab-nav > button {
        display: inline-block;
        position: relative;
        padding: 7px 6px;
        border: none;
        white-space: nowrap;
        width: auto;
        text-align: center;
        background: none;
        transition: font-size 0.3s ease-in-out;
    }
    #toolbox-area > .gradio-box > .gradio-tabs > div.tab-nav > button.selected,
    #chuanhu-popup > .gradio-box > .gradio-tabs > div.tab-nav > button.selected {
        background-color: unset !important;
        font-weight: bold;
        font-size: large;
        color: var(--body-text-color);
    }
    #toolbox-area > .gradio-box > .gradio-tabs > div.tab-nav > button.selected::after,
    #chuanhu-popup > .gradio-box > .gradio-tabs > div.tab-nav > button.selected::after {
        content: "";
        background-color: var(--primary-600);
        height: 4px;
        width: 32%;
        border-radius: 4px;
        position: absolute;
        left: 50%;
        bottom: 1px;
        transform: translateX(-50%);
    }
}

/* 下面是大屏幕的 toolbox tab 样式 */
@media screen and (min-width: 768px) {
    #toolbox-area {
        border-left: 1px solid var(--border-color-primary);
    }
    #toolbox-area > .gradio-box {
        border-radius: 0;
    }
    #toolbox-area > .gradio-box > .gradio-row > .close-btn {
        display: none;
    }
    #toolbox-area > .gradio-box > .gradio-row:first-of-type {
        display: none;
    }
    #toolbox-area > .gradio-box > .gradio-tabs{
        height: 100%;
        width: var(--toolbox-width);
        overflow: hidden;
    }
    #toolbox-area > .gradio-box > .gradio-tabs > div.tabitem {
        height: calc(100% - 35px);
        overflow-y: auto;
        border-style: none;
        padding: 0;
        /* 理论上不该是0，但这里考虑内部gradio有好多container有padding了 */
    }
    #toolbox-area > .gradio-box > .gradio-tabs > div.tab-nav {
        display: flex;
        margin: 0;
        /* padding: 4px; */
        overflow-x: auto;
        overflow-y: hidden;
        flex-direction: row;
        flex-wrap: nowrap;
        /* border-radius: 10px; */
        /* gap: 4px; */
        width: 100%;
        height: auto;
        background: var(--button-secondary-background-fill);
        border-bottom: 1px solid var(--border-color-primary);
        border:none;
        align-items: baseline;
    }
    #toolbox-area > .gradio-box > .gradio-tabs > div.tab-nav > button {
        display: inline-block;
        position: relative;
        padding: 8px 16px;
        border: none;
        white-space: nowrap;
        width: auto;
        text-align: center;
        background: var(--button-secondary-background-fill);
        transition: font-size 0.3s ease-in-out;
        border-right: 1px var(--border-color-primary) solid;
        border-radius: 0;
    }
    #toolbox-area > .gradio-box > .gradio-tabs > div.tab-nav > button.selected {
        background-color: var(--block-background-fill);
        font-weight: bold;
        /* border-top-left-radius: 8px;
        border-top-right-radius: 8px; */
        /* font-size: large; */
        /* color: white; */
    }
}

#toolbox-area > .gradio-box {
    padding: 0;
    height: 100%;
}
/* 
#toolbox-area > .gradio-box > .gradio-tabs > div.tabitem {
    padding: 0;
    理论上不该是0，但这里考虑内部gradio有好多container有padding了 
} 
*/
#toolbox-area > .gradio-box > .gradio-tabs > div.tabitem > div > .gradio-markdown {
    padding: 12px;
}

/* #chuanhu-popup ul.options {
    transform: translate(-50%, -50%);
} */

#chuanhu-history {
    height: calc(100*var(--vh) - 65px - 61px);
    overflow-y: auto;
}
#chuanhu-history > div {
    border-radius: 0;
    background: none;
}

#chuanhu-menu-footer {
    position: absolute;
    bottom: 0;
    /* background: black; */
    height: auto;
    overflow: hidden;
    padding: 12px 18px;
    border-top: 0.8px solid var(--border-color-primary);
}
#menu-footer-btn-bar {
    justify-content: space-between;
    display: flex;
    height: 36px;
    align-items: center;
}
.btn-bar-group {
    gap: 6px;
    display: inline-flex;
}
.chuanhu-ui-btn {
    border-radius: 8px;
    /* color: rgba(120, 120, 120, 0.64) !important; */
    padding: 6px !important;
    margin: 0 !important;
    cursor: pointer !important;
    transition: background-color .2s ease;
}
.chuanhu-ui-btn:hover {
    background-color: rgba(167, 167, 167, 0.25) !important;
    /* color: unset !important; */
}
.chuanhu-ui-btn:active {
    background-color: rgba(167, 167, 167, 0.5) !important;
}

.hover-round-btn {
    border-radius: 50% !important;
}

.show-on-light {
    display: block;
}
.show-on-dark {
    display: none;
}
.dark .show-on-light {
    display: none;
}
.dark .show-on-dark {
    display: block;
}

.show-on-latest {
    display: block;
}
.show-on-outdated {
    display: none;
}
.outdated .show-on-latest {
    display: none;
}
.outdated .show-on-outdated {
    display: block;
}

#history-select-wrap {
    height: 600px;
    overflow: auto;
    overflow-x: hidden;
}

/* .main-body {
    flex-wrap: nowrap;
    gap: 0;
    overflow: hidden;
    display: inline-flex;
    /* margin-top: 54px; */
    /* height: calc(100*var(--vh) - 72px); */
    /* position: absolute;
    top: 48px;
} */
/* 
.hide-body {
    display: none;
    top: calc(-100*var(--vh));
    
}
#train-body {
    transition: top 0.3s ease-in-out, display 0.3s ease;
}

#chuanhu-body.hide-body {
    display: none;
    top: calc(100*var(--vh) + 48px);
}
#chuanhu-body {
    transition: top 0.3s ease-in-out, display 0.3s ease;
}  */

