
/* list from gradio 4.26, recover what silly gradio has done*/ 
.message {
    .prose ul {
        list-style-position: outside !important;
        list-style-type: disc;
    }
    .prose ol {
        list-style-position: outside !important;
    }
    .prose ul ul,
    .prose ol ul,
    .prose ul ol ul,
    .prose ol ol ul {
        list-style-type: circle;
    }
    .prose ul > p,
    .prose li > p {
        display: initial;
    }
    .prose ol,
    .prose ul {
        margin-top: unset;
    }
    .prose ul ul,
    .prose ul ol,
    .prose ol ol,
    .prose ol ul {
        margin: initial;
        font-size: inherit;
    }
    .prose li {
        margin-bottom: initial;
    }
}


/* 表格 */
.message table {
    margin: 1em 0;
    border-collapse: collapse;
    empty-cells: show;
}
.message td, .message th {
    border: 1.2px solid var(--border-color-primary) !important;
    padding: 0.2em;
}
.message thead {
    background-color: rgba(175,184,193,0.2);
}
.message thead th {
    padding: .5em .2em;
}

/* 行内代码 */
.message :not(pre) > code {
    display: inline;
    white-space: break-spaces;
    font-family: var(--font-mono) !important;
    border-radius: 6px !important;
    margin: 0 2px 0 2px;
    padding: .1em .4em .08em .4em !important;
    background-color: rgba(175,184,193,0.2) !important;
    border: none !important;
    font-size: var(--text-md) !important;
}
/* 代码块 */
.message pre,
.message pre[class*=language-] {
    color: #fff;
    overflow-x: auto;
    overflow-y: hidden;
    padding: var(--spacing-xl) 1.2em !important;
    border-radius: var(--radius-lg) !important;
    background: var(--neutral-950) !important;
}
.message pre code,
.message pre code[class*=language-] {
    color: #fff;
    padding: 0;
    margin: 0;
    background-color: unset;
    text-shadow: none;
    font-family: var(--font-mono);
    font-size: var(--text-md);
}
.message .code_wrap {
    margin: .8em 1em 1em 0em;
}

/* 覆盖prism.css */
.language-css .token.string,
.style .token.string,
.token.entity,
.token.operator,
.token.url {
    background: none !important;
}

/* 避免采用亮色背景的高亮样式 */
.md .token.comment,
.md .token.prolog,
.md .token.cdata {
    color: #5c6370 !important;
}

.md .token.doctype,
.md .token.punctuation,
.md .token.entity {
    color: #abb2bf !important;
}

.md .token.attr-name,
.md .token.class-name,
.md .token.boolean,
.md .token.constant,
.md .token.number,
.md .token.atrule {
    color: #d19a66 !important;
}

.md .token.keyword {
    color: #c678dd !important;
}

.md .token.property,
.md .token.tag,
.md .token.symbol,
.md .token.deleted,
.md .token.important {
    color: #e06c75 !important;
}

.md .token.selector,
.md .token.string,
.md .token.char,
.md .token.builtin,
.md .token.inserted,
.md .token.regex,
.md .token.attr-value,
.md .token.attr-value > .token.punctuation {
    color: #98c379 !important;
}

.md .token.variable,
.md .token.operator,
.md .token.function {
    color: #61afef !important;
}

.md .token.url {
    color: #56b6c2 !important;
}

